body {
/*font-family: Arial, Verdana, sans-serif;*/
  margin: 0px;
  padding: 0px;
 }

.uppeNavigation{
  position: absolute;
  background-color: rgba(0,0,0,.15)
}

ul.right li a {
 position: relative;
 color: #F0F0F0;
 font-weight: normal;
 z-index: 1;
}

ul.footerLinks li a{
display: inline-block;
}

.section{
   height: 600px;
   margin: 0px;
   padding: 0px;
}

.parallax-container {
  height: 700px;
}

/*web4evo LOGO*/
.logotype{
color: #cccccc;
}
/*Red digit 4*/
.mid{
color: #ff0000;
}

div.redLine{
  position: fixed;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px; 
}

.shade{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.65);
}

.backgroundImg{
  position: absolute;;
  height: 600px;
  margin:0px;
  padding: 0px;
  z-index: 0;
}

div.footerUp{

  text-align: center;
  margin: 0px;
}

/*div.page-footer > div.row {
    margin: 0px;
}*/
div.copyright {
  background-color: #323232;
  color: #cccccc;
  text-align: center;
  height: 60px;
  line-height: 60px;
  width: 100%;
}

div.signline {

  background-color: #FF0000;
  height: 1px;
  width: 100%;
}



