body {
  font-family: Helvetica, Arial, sans-serif; 
  margin: 0px;
  padding: 0px;
 }

.section{
   height: 600px;
   margin: 0px;
   padding: 0px;
}

.parallax-container {
  height: 700px;
  width: 100%;
  text-align: center;
}

.shade{
  background-color: rgba(0,0,0,.55);
}

/*Upper navbar*/
nav.uppeNavigation {
  position: absolute;
  background-color: rgba(0,0,0,.4);
}

ul.right li a {
 position: relative;
 color: #F0F0F0;
 font-weight: normal;
 z-index: 1;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

ul.right li a:hover{
  background-color: rgba(0,0,0,.70);

}

a.logotype {
 z-index: 2;
 color: #cdcdcd;
}

/*web4evo LOGO*/
div.mainSign {
   margin-top: 250px;  
}

h5.header, h1.header {
 color: #cdcdcd;
 z-index: 100;
 margin-bottom: 0px;
 margin-top: 2px;
}

/*Upper Red line of Logo*/
div.signlineUpper {
  background-color: #FF0000;
  height: 4px;
  width:250px;
  margin: 0 auto;
  padding: 0px;
}


/*Red digit 4*/
.mid{
color: #ff0000;
}

/*div:nth-child(2){
  color: #ff0000;
}*/

h1.header:nth-child(2) {
  color: #ff0000;
}

/*Red Button*/
.btn {
  background-color: #cccaca; 
  color: #000000;
}

.btn:hover {
  background-color: #ff0000; 
}


.backgroundHide{
  position: absolute;;
  height: 600px;
  margin:0px;
  padding: 0px;
  z-index: 0;
}

/*Mid colunms*/
.midColumn{
  text-align: center;
  padding-top: 100px;
}

div img.logo{
  width: 80px;
  padding: 0px;
  margin: 0px; 
}

div img.logo + p, [p=] {
text-transform: uppercase;
}

/*Redline of middle columns*/

p.visualFont + div{
  background-color: #FF0000;
  height: 3px;
  width: 90%;
  margin: auto; 
}

p > p{
  background-color: #B2B2B2;
  margin: 0px;
  padding: 0px; 
}


p.visualFont{
  text-transform: uppercase;
  font-size: 33px;
  margin: 0px;
  padding: 0px;
}



/*Footer*/
div.footerUp{
  text-align: center;
  margin: 0px;
}

/*IMAGES HTML, CSS, ANGULAR...*/
div.progs img{
    margin: 20px 20px 0px 20px;
    padding: 0px;
    border: 2px solid #ff0000;
    height: 100px;
}

div.copyright {
  background-color: #323232;
  color: #cccccc;
  text-align: center;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid red;
}

