@media only screen and (max-width: 320px) {
  [class~=extra] {
    display: none; }
  [class~=backgroundHide] {
    visibility: hidden; }
  .parallax-container {
    height: 400px; }
  .innerCard p:nth-child(2), .innerCard p:nth-child(4) {
    font-size: 150%; }
  .middleCards p:nth-child(3) {
    font-size: 150%; }
  .progs img {
    margin: 5px 5px 0 0;
    padding: 0;
    max-height: 50px; }
  h1 {
    font-size: 30px; }
  h5 {
    font-size: 90%; }
  #section02 {
    position: absolute;
    top: 400px; }
  #section03 {
    position: absolute;
    top: 1500px; }
  #section04 {
    position: absolute;
    top: 3450px; } }

@media only screen and (min-width: 321px) and (max-width: 599px) {
  [class~=extra] {
    display: none; }
  [class~=backgroundHide] {
    visibility: hidden; }
  .progs img {
    margin: 5px 5px 0 0;
    padding: 0;
    max-width: 65px; }
  #section04 {
    position: absolute;
    top: 3250px; } }

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  [class~=extra] {
    max-width: 50%; }
  .progs img {
    margin: 5px 5px 0 0;
    padding: 0;
    max-width: 70px; }
  #section04 {
    top: 3580px; } }

@media only screen and (min-width: 1200px) {
  .progs img {
    margin: 5px 5px 0 0;
    padding: 0;
    max-width: 80px; } }
