.dotted {
    position: fixed;
    top: 40%;
    left: 80%;
    width: 50px;
    z-index: 10;
    list-style-type: none;
}

.dotted ul {
    position: relative;
    padding: 5px;
    padding-left: 20%;
}

.dotted ul li{
    position: relative;
    padding-bottom: 20px;
    padding-left: 35%;
    color: #FF0000;
}

.dotted a{
    display: block;
    width: 50px;
    height: 6px;
    background-color: rgba(255,0,0,.3);
    -webkit-transition: 1s;
    transition: 1s;
}

.dotted a:hover{
    width: 80px;
    height: 6px;
    background-color: #FFBEBE;

}

.dotted a.active{
    width: 80px;
    height: 6px;
    background-color: #FF0000;
}


#section01 {
    position: absolute;
    top: 10%;
    left: 0;
    height: 30px;
    width: 420px;
}

#section02 {
    position: absolute;
    top: 120%;
    left: 0;
    height: 50px;
    width: 420px;
}

#section03 {
    position: absolute;
    top: 240%;
    left: 0;
    height:50px;
    width: 420px;
}
