$text-color: #c8c8c8
$additional-color: #FF0000

body
	font-family: Helvetica, Arial, sans-serif
	margin: 0
	padding: 0

section
	height: 600px
	margin: 0
	padding: 0

.parallax-container
	height: 700px
	width: 100%
	text-align: center
	background-color: rgba(0,0,0,.55)


	/*Upper navbar*/
nav
	position: fixed
	background-color: rgba(0,0,0,.2)
	z-index: 1
	transition:  opacity 1s
	opacity: 1
	li>a
		color: $text-color
		font-weight: 100
		z-index: 1
		transition: background-color .5s
	li>a:hover
		z-index: 2
		background-color: rgba(0, 0, 0, 0.5)
		color: rgb(255, 255, 255)

//mobile
#mobile-nav
	height: 300px
	opacity: .5
	filter: alpha(opacity=50)
	li:nth-child(1)
		margin-top: 40px
	li a
		color: black
		height: 50px

i.material-icons
	color: $text-color

#sidenav-overlay
	z-index: -1

/*web4evo LOGO*/
a.brand-logo
	color: $text-color
	> span
		color: $additional-color

.mainSign
	margin-top: 250px

h5, h1
	color: $text-color
	//text-transform: uppercase
	z-index: 100
	margin-bottom: 0
	margin-top: 2px

/*Upper Red line of Logo*/

.signline
	background-color: $additional-color
	height: 4px
	max-width: 300px
	margin: 0 auto
	padding: 0

/*Red digit 4*/
.mid, h1:nth-child(2), .btn:hover
	color: $additional-color

/*Button*/

.innerCard
	a
		color: #000000
		background-color: $text-color
	:hover
		color: #000000
		background-color: #a2a2a2


.backgroundHide, .extra
	position: absolute
	height: 600px
	margin: 0
	padding: 0
	z-index: 0

/*Mid colunms*/
.midColumn
	text-align: center
	padding-top: 100px

div
	img.logo
		max-width: 80px
		padding: 0
		margin: 0

section.midColumn p
	text-transform: uppercase
	color: #00b0ff
/*Redline of middle columns*/


.innerCard
	p:nth-child(1)
		text-transform: uppercase
	p:nth-child(2), p:nth-child(4)
		letter-spacing: -1px
		text-transform: uppercase
		font-size: 27px
		margin: 0
		padding: 0
	div:nth-child(3)
		background-color: $additional-color
		height: 3px
		width: 80%
		margin: auto

.middleCards
	margin-bottom: 60px
	p:nth-child(2)
		text-transform: uppercase
	p:nth-child(3)
		letter-spacing: -1px
		text-transform: uppercase
		font-size: 27px
		margin: 0
		padding: 0
	div:nth-child(4)
		background-color: $additional-color
		height: 3px
		width: 80%
		margin: auto

.progs
	img
		margin: 0
		padding: 0
		max-width: 48px

/*Footer*/

.footerUp
	text-align: center
	margin: 0

footer
	background-color: #323232
	color: $text-color
	text-align: center
	padding: 1%
	width: 100%
	border-bottom: 1px solid $additional-color

//Pagination
.dotted
	position: fixed
	top: 36%
	left: 85%
	max-width: 50px
	z-index: 10
	list-style-type: none

.dotted
	ul
		position: relative
		padding: 5px


.dotted
	ul
		li
			position: relative
			padding-bottom: 15px
			padding-left: 35%
			color: $additional-color

.dotted
	a
		display: block
		width: 50px
		height: 5px
		background-color: rgba(255,0,0,.3)
		transition: 1.5s

.dotted
	a:hover
		width: 50px
		height: 5px
		background-color: $additional-color

.dotted a.active
	width: 70px 
	height: 5px 
	background-color: $additional-color

#section01
	position: absolute
	top: 700px

#section02
	position: absolute
	top: 2000px

#section03
	position: absolute
	top: 3200px

#section04
	position: absolute
	top: 3450px


